@import 'form.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}
header {
  max-width: 1080px;
  height: 66px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}
span {
  color: #9903d4;
}
header .perfil img {
  width: 1.8em;
}
main {
  max-width: 1080px;
  height: calc(100vh - 88px);
  margin: 15px auto 0;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}
a {
  padding-top: 8px;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
main .aside {
  width: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #ad96dc, #c58ddb);
}
main .aside a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
main .main {
  width: 89%;
  background-color: #ad96dc;
}
